body{
    box-sizing: border-box;
    width: 100%;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    padding:0.5rem;
}

.formContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.boxFormLeft{
    width: 40%;
}

.boxFormRight{
    width: 40%;
}


.buttonSubmitContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.btn{
    font-size: 16px;
    width: 10rem;
    height: 3rem;
}

.location{
    width: 100%;
    height: 50vh;
}

.algo{
    align-items:center;
    display: flex;
    justify-content: center;
    color: white;
    background-color: orange;
    gap: 8rem;
}

.algo > img{
    width: 15%;
}

.algo > span{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    width: 35%;
}

.address{
    width: 14%;
    text-align: right;
}