body{
    box-sizing: border-box;
    width: 100%;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    padding:0.5rem;
}

.formContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4rem;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.boxFormLeft{
    width: 40%;
}

.boxFormRight{
    width: 40%;
}


.buttonSubmitContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.btn{
    font-size: 16px;
    width: 10rem;
    height: 3rem;
}

.location{
    width: 100%;
    height: 50vh;
}

.algo{
    align-items:center;
    background-color: orange;
    display: flex;
    color: white;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    width: 100%;
}

.algo > img{
    width: 20%;
}

.algo > span{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 35%;
}

.address{
    text-align: right;
    width: 10%;
}

@media (max-width: 600px) {

    .boxFormLeft{
        width: 80%;
    }
    
    .boxFormRight{
        width: 80%;
    }
    
    
    .buttonSubmitContainer{
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }
    
    .btn{
        font-size: 16px;
        width: 100%;
        height: 3rem;
    }

    .algo{
        gap: 2rem;
    }

    .algo > img{
        margin-top: 1rem;
        width: 50%;
    }
    
    .algo > span{
        font-size: 18px;
        width: 80%;
    }
    
    .address{
        text-align: center;
        width: 80%;
    }
}
